header {
    border-bottom: 1px solid #D9FFF5;
}

body {
width: 768px;
outline: 2px solid rgb(158, 81, 81);
margin: 0px;
}

.header__menu_button-burger {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
}

.header__menu_button-repair {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.header__menu_button-checkstatus {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;

}

.header__menu_button {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 0px;
}

#call {
    margin-left: 250.73px;
}

#repair {
    margin-left: 20px;

}

.header__menu_logo {
    margin-top: 18.59px;
    margin-bottom: 17.59px;
    margin-left: 20.73px;

}

.header__menu {
display:flex;

}

.header__hr {
background: #EAEAEA;
border-radius: 1px;
border: 0;
width: 2px;
height: 32px;
margin-top: 28px;
margin-bottom: 28px;
margin-left: 20px;
margin-right: 0px;
}

.main__article{
    display: flex;
    margin-left: auto;

}
.main__article__text {

font-family: "TT Lakes";
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
color: #1b1c21;
font-weight: bold;
width: 288px;
height: 40px;
margin-left: 0px;
margin-top: 24px;
margin-bottom: auto;


}

main {
background: #F8F8F8;
}

article {
display: flex;
width: 768px;

}

.main__hr_highlight {

    width: 4px;
    height: 40px;
    border: 0;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px 0% 0% 10px;
    margin-left: 0px;
    margin-top: 24px;
    margin-right: 20px;
}

.main__nav {
display: flex;
overflow: auto;


}
.main__nav::-webkit-scrollbar {
display: none;
}

.main__div_container {
    display: flex;
}

.main__div_container_left_column {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 15px;

}

.main__nav_text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
}

.main__nav_div{
height: 24px;
min-width: 230px;
margin-left: 0px;
margin-top: 8px;
margin-bottom: 8px;


}

.main__nav_div:nth-child(1){
margin-left: 32.54px;
}

.main__nav_div a {
color: #7E7E82;
text-align: start;

}


.main__nav_div a:link {
text-decoration: none;

}

/*.main__nav_div a:visited {

}

.main__nav_div a:hover {

} */

.main__nav_div a:active, .main__nav_div a:focus {
background-color: #fff;
outline: 2px solid #B8FFEC;
padding-left: 16.54px;
padding-right: 9.3px;
padding-top: 8px;
padding-bottom: 8px;
border-bottom: 0px;
margin: 0px;
border-radius: 6px;


}

/* Блок со скрытым текстом */

.main__button-hidden {
    background-color: #F8F8F8; 
    border: none;
    color: rgb(31, 29, 29);
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.main__button-hidden:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main__button-hidden-text {
   
font-family: "TT Lakes";
font-size: 16px;
line-height: 24px;
color: #1b1c21;
padding-left: 16px;
margin-right: 16px;
font-weight: 600;

}

.main__p_text {
width: 312px;
font-family: "TT Lakes";
font-size: 14px;
line-height: 18px;
padding: 0px;
margin-left: auto;
margin-right: auto;

}
#text2 {
    max-height: 35px;
    overflow: hidden;
    margin-bottom: 0px;
}

#text2:focus, .main__button-hidden:focus ~ #text2 {
    height: auto;
    
}





.main__p_br {
margin-top: 100px;

}

/*Изображение*/
.main_img {
width: 360px;
height: 208px;
margin-top: 26px;
margin-left: 48px;

}

/*Кнопка Читать далее* через чекер

.read-more-checker {        /*спрятал чекер с галочкой
    opacity: 100%;
    position: absolute;
}

.read-more-checker:checked ~ .main__p_text .text #text2 {
    max-height: none;
}

.read-more-checker ~ .read-more-button:before {
    content:'Читать далее';
}
.read-more-checker:checked ~ .read-more-button:before {
    content: "Скрыть";
}
.read-more-button {
  margin-top: 16px;
  margin-left: 24px;
  
}*/